<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - The Joy of Painting</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
{% endblock %}
</html>