{% extends "base.html" %}
{% block title %}Canvas{% endblock %}

{% block content %}
<!--TODO add pallete-->
<!--TODO add few brush sizes-->
<div class="ui two column centered grid">
    <div class="row">
        <div class="column">
            <canvas id="canvas" width="700" height="500"></canvas>
        </div>
    </div>
    <div class="row">
        <button id="save" class="ui positive button">Сохранить</button>
    </div>
</div>
<div class="ui small test modal scrolling transition hidden" id="save-modal">
    <div class="header">Good job!</div>
    <div class="content"></div>
    <div class="actions">
      <div class="ui positive button">
        Close
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
<script src="static/js/paint_canvas.js"></script>
{% endblock %}