{% extends "base.html" %}
{% block title %}Gallery Image{% endblock %}

{% block header %}
    {{ super() }}
    <a class="item" href="/gallery/"><i class="image icon"></i>Gallery</a>
{% endblock %}

{% block content %}
<div class="ui two column centered grid">
    <div class="row">
        <div class="column">
            <img class="border" src="{{ image }}" alt="">
        </div>
    </div>
    <div class="row">
        <button id="delete" class="ui button negative"><i class="trash icon"></i> Delete</button>
        <a href="/{{ id }}"><button id="edit" class="ui button"><i class="edit icon"></i> Edit</button></a>
    </div>
</div>
<div class="ui small test modal scrolling transition hidden" id="delete-modal">
    <div class="header">Really?</div>
    <div class="content">Are you sure you want to destroy this glorious painting?</div>
    <div class="actions">
      <button class="ui negative button">No</button>
      <button class="ui positive button" id="delete-confirm">Yes</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
<script src="/static/js/detail.js"></script>
{% endblock %}